.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container > section {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media(max-width: 1000px) {
  .container {
    max-width: 620px;
    width: 100%;
  }

  .container > section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 6rem;
  }
}

@media(max-width: 560px) {
  .container {
    max-width: 90vw;
    padding: 2.5rem 0;
  }

  .container > section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 6rem;
  }
}